{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}
<div class="mycontainer" style=" min-width: 16rem; max-width: 30rem;  margin-right: auto;  margin-left: auto;">

    <h1>Регистрация</h1>


{{ form_start(registrationForm) }}

{{ form_row(registrationForm.login , {'row_attr':{'class':'form-group'}, 'attr' : {'class': 'form-control' }}) }}

    {{ form_row(registrationForm.plainPassword , {'row_attr':{'class':'form-group'}, 'attr' : {'class': 'form-control' }}) }}
    {{ form_row(registrationForm.city , {'row_attr':{'class':'form-group'}, 'attr' : {'class': 'form-control' }}) }}
    {{ form_row(registrationForm.gender, {'row_attr':{'class':'form-group'}, 'attr' : {'class': 'form-control' }}) }}
    {{ form_row(registrationForm.name, {'row_attr':{'class':'form-group'}, 'attr' : {'class': 'form-control' }}) }}
    {{ form_row(registrationForm.Birthday, {'row_attr':{'class':'form-group'}, 'attr' : {'class': 'form-control' }}) }}
    //выводим строку добавления изображения
    {{ form_row(registrationForm.Picture) }}

{{ form_row(registrationForm.agreeTerms) }}


<button type="submit" class="btn btn-info">  Зарегистрироваться</button>

{{ form_end(registrationForm) }}
{% endblock %}